/* You can add global styles to this file, and also import other style files */
button{
    color: white;
    border-radius: 5px;
    border-style: none;
    margin: 1%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(243, 183, 141);
}